*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    
}


@media (max-width : 75em) {
    html{
        font-size: 50%;
    }
}
@media (max-width : 37.5em){
    html{
        font-size: 45%;
    }
}



body{
    font-family: 'IBM Plex Sans', sans-serif !important;
    box-sizing: border-box;
    line-height: 1.7;
    font-weight: 400;
    font-size: 1.6rem;
    
}